.ui-content {
  padding: 0;
  max-width: 640px;
  margin: auto; /* makes the app center-aligned when > max-width */
}

.ui-content .ui-listview {
  margin: 0;
}

.content-secondary {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.ui-li-has-count .ui-li-count {
  font-size: 10px;
  padding: 0.08em 0.35em;
}

.networkUpdates.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .networkUpdates.ui-li-static.ui-li-has-thumb,
.searchButton .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .searchButton .ui-li-static.ui-li-has-thumb {
  padding-left: 40px;
}

.networkUpdates img.ui-li-thumb {
  left: 1px;
}

.searchButton img.ui-li-thumb {
  left: 8px;
  top: 8px;
}

.jobs.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .jobs.ui-li-static.ui-li-has-thumb {
  padding-left: 100px;
}

/* optimise some styles for small screens (like iPhone 4s) */
@media (max-width: 320px) {
  .jobs.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .jobs.ui-li-static.ui-li-has-thumb {
    padding-left: 88px;
  }
}

#homeheader .ui-li-static.ui-li-has-thumb {
  padding-left: 80px;
  height: 87px;
}

.networkUpdates .ui-li-thumb, .networkUpdates .ui-listview .ui-li-icon {
  max-height: 48px;
}

.jobs .ui-li-thumb, .jobs .ui-listview .ui-li-icon {
  max-width: 83px;
  max-height: 100px;
}

#header {
  margin-top: 9px;
  margin-left: 7px;
  margin-right: 7px;
}

#header .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
  min-height: 57px;
}

#header .ui-li-thumb, #header .ui-listview .ui-li-icon {
  left: 0;
  max-height: 100px;
}

#header .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, #header .ui-li-static.ui-li-has-thumb {
  min-height: 78px;
  padding-left: 82px;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
  min-height: inherit;
}

#homeheader {
  height: 100px;
}

#homeheader .ui-li-thumb {
  max-width: 70px;
  max-height: 100px;
}

.networkUpdates {
  min-height: 50px;
}

.jobs {
  min-height: 101px;
}

.networkUpdates .ui-li .ui-btn-text a.ui-link-inherit,
.jobs .ui-li .ui-btn-text a.ui-link-inherit {
  font-weight: normal;
  font-size: 11px;
  white-space: normal;
  text-overflow: inherit;
}

.networkUpdates .ui-btn-inner a.ui-link-inherit {
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 0;
}

.networkUpdates.ui-li-has-count .ui-li-count {
  top: 11px;
  right: 2px;
}

.date {
  font-size: 11px;
  color: #bbb;
}

.jobs .place {
  color: #888;
}

.locationMarker {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  color: black;
  float: left;
  position: absolute;
  background-color: #333;
}

.camera {
  float: left;
  position: absolute;
  top: 76px;
  left: 60px;
}

.amsterdam {
  top: 35px;
  left: 33px;
}

.groningen {
  top: 16px;
  left: 64px;
}

.enschede {
  top: 46px;
  left: 67px;
}

.ui-footer {
  font-size: 10px;
  color: #bbb;
  margin-top: 16px;
  text-align: right;
}

.ui-footer a {
  color: #bbb;
}